kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: manifestwork-editor-role
rules:
  - verbs:
      - get
      - watch
      - list
      - create
      - update
      - delete
      - patch
    apiGroups:
      - work.open-cluster-management.io
    resources:
      - manifestworks
